<h1>Home#index</h1>
<%= time_tag Time.now do %>

<% end %>
<!-- This displays instagram pictures on the home page in standard resolution -->
<% @instagram.each do |instagram| %>

	<%= image_tag instagram.images.standard_resolution.url %>
<% end %>
