<div class="welcome_container">
	<div class="welcome_plandora">
		<header>Plandora</header>
		<div id="logo">
			<%=image_tag "plandoralogo2.png" %>	
		</div>
	</div>
		<div class="plandora_info" id="plandora_info_scroll">
			<h1>What is Plandora?</h1>
		</div>
		<div class="plandora_tutorial">
			<h1>Tutorial</h1>
		</div>

</div> <!-- end of welcome container -->