<div class="welcome_container">
	
	<div class="welcome_plandora">
		<header class="welcome_header">Plandora</header>
		
	</div>

	<div class="plandora_info">
		<h2>What is Plandora?</h2>
		<div class="what_is_plandora">
			<div class="what_is_plandora_info">	
			Plandora is a fun, social interactive packing app that is designed to help relieve the annoyance of packing for trips. Planning a camping trip but unsure of where to go? Join Plandora today with your group of friends and suggest ideas of where to stay. Let the voting commence and find out what your friends think is the best place to camp.  
			<br />
				With Plandora you can determine who's bringing what. Torrey is bringing the tent while Nicole says she's got the portable stove. 
			<br />
				Love instagram? Take pictures and create a hashtag of your Vegas trip and add them to your group profile.
				<br />
			</div>
		</div>
	</div>
	
	<div class="plandora_features">
		<h1>Features</h1>
		<div class="features_info_container">
			<div class="features_info">
			    <strong> Directions Feature: </strong><br />
				Make sure everyone in your group has the correct directions to your vacation destination.
				<br />
				<strong>Chat Feature: </strong><br />
				Chat with the members in your group through Facebook! Make sure everyone is on the same page for your next adventure. 
				<br />
				<strong>Vote Feature: </strong><br />
				Let the polls do the talking! Vote within your team about who brings what to Miami.  <br />
				<strong>Packing Feature: </strong><br />
				Pack it all with our packing feature. Don't forget your socks this time! <br />
				<strong>Itinerary Feature: </strong><br />
				Add the date of your trip so everyone is on the same page. <br />
				<strong>Bookmarlet Feature: </strong><br />
				Found a hot deal? Share it with you team by bookmarking the link and adding it to your group profile.
			</div>
		</div>
	</div>

</div> <!-- end of welcome container -->