<div class="welcome_container">
	
	<div class="welcome_plandora">
		<header class="welcome_header">Plandora</header>
		
	</div>

	<div class="plandora_info">
		<h2>What is Plandora?</h2>
		<div class="what_is_plandora">
			<div class="what_is_plandora_info">	
			Plandora is a fun, social interactive packing app that is designed to help relieve the annoyance of packing for trips. Planning a camping trip but unsure of where to go? Join Plandora today with your group of friends and suggest ideas of where to stay. Let the voting commence and find out what your friends think is the best place to camp.  
			<br />
				With Plandora you can determine who's bringing what. Torrey is bringing the tent while Nicole says she's got the portable stove. 
			<br />
				Love instagram? Take pictures and create a hashtag of your Vegas trip and add them to your group profile.
				<br />
			</div>
		</div>
	</div>
	
	<div class="plandora_features">
		<h1>Features</h1>
		<div class="features_info_container">
			<div class="features_info">
			    <strong> Directions Feature: </strong><br />
				Make sure everyone in your group has the correct directions to your vacation destination.
				<br />
				<strong>Chat Feature: </strong><br />
				Chat with the members in your group about any. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
			
			</div>
		</div>
	</div>

</div> <!-- end of welcome container -->