<div class="welcome_container">
	<div class="welcome_plandora">
		<header>Plandora</header>
		<div id="logo">
			<%=image_tag "plandoralogo2.png" %>	
		</div>
	</div>
		<div class="plandora_info">
			Info
		</div>
		<div class="plandora_tutorial">
			Tutorial
		</div>

</div> <!-- end of welcome container -->