<div class="welcome_container">
	
	<div class="welcome_plandora">
		<header class="welcome_header">Plandora</header>
		
	</div>

	<div class="plandora_info">
		<h2>What is Plandora?</h2>
		<div class="what_is_plandora">
			<div class="what_is_plandora_info">	
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips.
			Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
			</div>
		</div>
	</div>
	
	<div class="plandora_features">
		<h1>Features</h1>
		<div class="features_info_container">
			<div class="features_info">
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Plandora is an app that makes it fun and easy for groups to plan trips. Features <br />
				Features <br />
				Features <br />
				Features <br />
				Features <br />
				Features <br />
				Features <br />
				Features <br />
				Features <br />
				Features <br />
				Features <br />
			</div>
		</div>
	</div>

</div> <!-- end of welcome container -->