<h1>All Polls for this group</h1>

<table border="1">
	<% @group.polls.each do |poll| %>
	<th><%= poll.topic %></th>
	<% poll.poll_options.each do |po| %>
		<tr>
			<td>
				<%= po.option %>
				<%= po.get_likes.size %>
				<%= link_to "Upvote", like_poll_option_path(po), method: :put %>
			</td>
		</tr>
	<% end %>
	<% end %>
</table>