<h1>All Polls for this group</h1>

<table border="1">
	<% @group.polls.each do |poll| %>
	<th><%= poll.topic %></th>
	<% poll.poll_options.each do |po| %>
		<tr>
			<td><%= po.option %></td>
		</tr>
	<% end %>
	<% end %>
</table>