<h1 class="text-center">New Hash Tag</h1>

<%= render 'form' %>

<%= link_to 'Back', group_tags_path(@group), class: "btn btn-info pull-left" %>
<div class="new_tag_container">
	<div class="new_tag_header">
		<h1>Enter New Tag</h1>
	</div>
	<div class="back_link_container">
		<%= link_to 'Go Back', group_tags_path(@group), class: "back_link" %>
	</div>
</div>