/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */


@import "bootstrap";

.navbar-brand, .navbar-inverse, .navbar-collapse, footer, .container-fluid {
	background-color: #99CCFF;
}

.navbar-brand a:link, a:visited, a:active {
	color: black;
}

.navbar-inverse .navbar-brand {
	color: black;
}

#user-widget {
	margin-right: 5px;
	text-decoration: none;
}

#user-widget li a:link, a:visited, a:active {
	text-decoration: none;
	color: black;
}

.about_nav li a:link, a:visited, a:active {
	text-decoration: none;
}

footer {
	color: black;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid black;
	position:fixed;
	padding-top: 10px;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom: -5px;
}


.contact:hover, #user-widget:hover, .about_nav:hover {
	color:blue;
	font-size: 20px;
	/*background-image: linear-gradient(darkblue, #99CCFF);*/
	cursor: pointer;
}

.contactgroup {
	border: 5px solid black;
	border-radius: 5px;
	font-size: 17px;
	color: black;
}

.contactgroup a:link, a:visited, a:active {
	text-decoration: none;
}

.about_nav, .contact_nav, #user-widget {
	margin-left: 5px;
	padding-bottom: 4px;
}
.kelsey, .dean, .charly {
	border:1px solid black;
}

.github:link, .github:visited, .github:active {
	color: blue;
}

.linkedin:link, .linkedin:visited, .linkedin:active { 

}