/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */


@import "bootstrap";

footer {
	color: rgba(230,230,230,.7);
	font-size: 14px;
	text-align: center;
	border-top: 1px solid black;
	position:fixed;
	padding-top: 10px;
    height:50px;
    background-color:rgba(0,0,0,.9);
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom: -5px;
}

.contact {
	height: 80px;
}

.contact:hover {
	color:white;
	font-size: 20px;
	background-image: linear-gradient(#275063, black);
}

#user-widget {
	margin-top: 10px;
	margin-right: 5px;
	text-decoration: none;
	padding: 7px 5px 5px 5px;
}

#user-widget li a:link, a:visited, a:active, #sign_in {
	text-decoration: none;
	color: lightblue;
}

.contactgroup {
	border: 5px solid black;
	border-radius: 7px;
	font-size: 17px;
	color: black;
}

.contactgroup a:link, a:visited, a:active, {
	text-decoration: none;
	color: blue;
}

.kelsey {
	border:1px solid black;
}

.dean {
	border:1px solid black;
}

.charly {
	border:1px solid black;
}