
@import "bootstrap";

/****** Navbar and Footer ******/

.navbar-inverse, .navbar-nav > li > a {
	color: black !important;
	font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a:hover{
	color: black !important;
	font-weight: bolder;
}

.navbar-inverse .navbar-brand {
	color: black !important;
	font-weight: bolder;
}


.plandoralogo {
	 position:fixed;
     left: 8px;
     top: 2px;
     width:150px;
     z-index:20000;
}

.plandoralogo a:link, a:visited, a:active {
	color: black;
	font-size: 15px;
	font-weight: bold;
}


footer, .navbar-custom {
	background-color: #99CCFF;
	opacity: 0.9;
}

#user-widget {
	text-decoration: none;
	padding-bottom: 4px;
}

#user-widget li a:link, a:visited, a:active {
	text-decoration: none;
	color: black;
}

#about_nav a:link, a:visited, a:active{
	text-decoration: none;
	color: black;
}

footer {
	color: black;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid black;
	position:fixed;
	padding-top: 10px;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom: -5px;
}

.contact:hover, .user-widget:hover, .about_nav:hover, .tutorial_nav:hover {
	color: black;
	font-weight: bolder;
	cursor: pointer;
}

.contactgroup {
	border: 10px double black;
	border-radius: 5px;
	font-size: 15px;
	background-color: lightgrey;
	color: black;
	padding: 10px;
}

.contactgroup a:link, a:visited, a:active {
	text-decoration: none;
	color: darkblue;
}

#kelsey, #dean, #charly {
	font-size: 16px;
	text-align: center;
}

.contact_images {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border: 5px solid black;
	border-radius: 100px;
}

.contact_charly {
	width: 310px;
	height: auto;
	margin-left: -110px;
	margin-top: -40px;
}

.contact_dean {
	width: 190px;
	height: auto;
	margin-left: -50px;
	margin-top: -10px ;
}

.contact_kelsey {
	width: 160px;
	height: auto;
	margin-left: -20px;
}

.group_name_list a {
	color: black !important;
}

.add_group_style a {
	color: black !important;
	font-weight: bolder !important;
}


@media (max-width: 400px) {
	footer {
		position: relative;
		font-size: 12px;
	}
	.contact_images {
		width: 100px;
		height: 100px;
		overflow: hidden;
		border: 3px solid black;
		border-radius: 100px;
	}
	.contact_charly {
	width: 210px;
	height: auto;
	margin-left: -70px;
	margin-top: -27px;
	}
	.contact_dean {
		width: 130px;
		height: auto;
		margin-left: -30px;
		margin-top: -10px ;
	}
	.contact_kelsey {
		width: 110px;
		height: auto;
		margin-left: -10px;
	}
}