
@import "bootstrap";

body {
}

/****** Direction New ******/

.direction_new_container {
	height: 720px;
	width: 700px;
	margin: 0 auto;
	margin-top: 60px;
}

.direction_new_header {
	height: 140px;
	width: 420px;
	border: 5px solid black;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	background-image: linear-gradient( #60E3F7, #8BF7E5);
		h1 {
		font-size: 90px;
		margin-top: 10px;
		font-family: 'Qwigley', cursive;
		font-weight: bolder;
	}
}


/****** Direction Form ******/

.direction_form {
	margin: 0 auto;
	border: 5px solid black;
	height: 80%;
	width: 80%;
	overflow: scroll;
	border-radius: 30px;
	padding: 25px;
}
.direction_form ul li {
	list-style-type: none;
}
#direction_details {
	font-size: 20px;
	width: 92%;
}
textarea {
   resize: none;
   border-radius: 10px;
   border: 5px solid black;
}
.destination_form_inputs {
	border: 5px solid black;
	padding: 8px;
	width: 92%;
	border-radius: 10px;
	margin: 5px 0;
}
.direction_submit {
	margin-top: 15px;
	height: 50px;
	width: 92%;
	font-size: 20px;
	font-color: black;
	font-family: arial;
	border: 3px solid black;
	background-color: lightblue;
	border-radius: 5px;
}
.direction_submit:hover {
	background-color: rgba(139, 255, 250, 1);
	font-weight: bolder;
	border-bottom-color: darkgrey;
	border-right-color: darkgrey;
}

/****** Direction Show ******/

.direction_show_container {
	height: auto;
	width: 800px;
	margin: 0 auto;
	overflow: scroll;
	margin-top: 60px;
	border: 3px solid black;
	background-color: white;
	text-align: center;
	border-radius: 10px;
		p {
		font-size: 22px;
	}
}

.direction_show_header {
	padding-top: 5px;
	font-family: 'Qwigley', cursive;
	text-align: center;
	height: 90px;
	width: auto;
	border-bottom: 2px solid black;
	background-color: white;
		h1 {
		margin: 0px;
		font-size: 70px;
		font-weight: bolder;
	}
}
.direction_show_address {
	height: auto;
	width: 100%;
	font-size: 20px;
	overflow: scroll;
	background-color: white;
	padding-bottom: 10px;
}
.direction_update_link {
	margin: 0 auto;
	background-color: lightblue;
	height: 50px;
	width: 300px;
	padding: 10px 20px;
	border-radius: 10px;
	border: 2px solid grey;
		a {
		text-decoration: none;
		font-weight: bolder;
		font-size: 18px;
		color: black;
	}
}
.direction_update_link:hover {
	border: 2px solid black;
}
.direction_update_link a:hover {
	text-decoration: none;
	font-weight: bolder;
	color: black;
}
.direction_show_details {
	margin-top: -20px;
}
#map {
	border-top: 1px solid black;
	width: 100%;
}


/****** Direction Edit ******/

.edit_direction_container {
	margin-top: 60px;
	h1 {
		text-align: center;
	}
}

@media (max-width: 480px) {

/****** Direction New + Form ******/

	.direction_new_container {
		height: 400px;
		width: 300px;
	}
	.direction_new_header {
		height: 35px;
		width: 107%;
		border: none;
		margin-top: -10px;
		margin-left: -10px;
		border-radius: 0;
	}
	.direction_new_header h1 {
		font-size: 35px;
		margin: 0 auto;
		margin-top: -5px;
	}

	.direction_form {
		border: none;
		height: 92%;
		width: 105%;
		overflow: scroll;
		border-radius: 30px;
		margin-left: -8px;
	}
	.direction_form ul li {
		list-style-type: none;
		margin-left: -45px;
	}
	.direction_form ul {
		margin-top: -15px;

	}
	#direction_details {
		font-size: 15px;
		width: 100%;
	}
	textarea {
	   resize: none;
	   border-radius: 10px;
	   border: 3px solid black;
	   height: 70px;
	   width: 240px;
	}
	.destination_form_inputs {
		border: 3px solid black;
		padding: 5px;
		width: 100%;
		border-radius: 10px;
		margin: 2px 0;
	}
	.direction_submit {
		margin-top: 5px;
		height: 30px;
		width: 100%;
		font-size: 15px;
		font-color: black;
		font-family: arial;
		border: 4px solid black;
		background-color: lightblue;
		border-radius: 5px;
	}

	/****** Direction Show ******/

	.direction_show_container {
		width: 100%;
		border: none;
	}
	.direction_show_info {
		border: none;
	}
	.direction_show_header {
		border: none;
		margin-top: -10px;	
	}
	.direction_show_header h1 {
		font-size: 45px;
	}
	.direction_show_address {
		margin-top: -30px;
	}
	.direction_show_address h3, .direction_show_details h3 {
		font-size: 16px;
	}
	.direction_show_address p {
		font-size: 14px;
	}
	.direction_update_link {
		width: 70%;
		padding: 5px 20px;
		height: 30px;
	}
	.direction_update_link a {
		font-size: 13px;
		height: auto;
	}
	.direction_show_details p {
		font-size: 14px;
	}


}