
@import "bootstrap";

body {
	color: white;
}
/****** Group Index ******/
.group_container {
	height: 100%;
	width: 50%;
	margin:0;
	img {
		height:50%;
		width:100%;
	}
}
.group_name_index {
	position: absolute;
	margin:1px 0 10px 4px;
}

.group_index {
	margin-top:80px;
	list-style-type:none;
}

/****** Group Show ******/

.feature_container {
	height: 300px;
	padding: 0 !important;
	border: 1px solid black;
	img {
		height:100%;
		width:100%;
	}
}

#group_show_feature {
	overflow-y: scroll;
	background-color: #ADF8E6;
	h1, p, ul {
		text-align: center;
	}
	ul {
		list-style-type: none;
	}
	ul li {
		margin-left: -40px;
	}
}



/****** Group New ******/

.new_group_header {
	height: 120px;
	width: 420px;
	border: 10px solid black;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
		h1 {
		font-size: 70px;
		margin-top: 10px;
		font-family: 'Qwigley', cursive;
		font-weight: bolder;
	}
	
}

.new_group_container, .edit_group_container  {
	height: 780px;
	width: 80%;
	margin: 0px auto;
	margin-top: 80px;
	text-align: center;	
}

/****** Group Form ******/

.group_members_list {
	overflow: scroll;
	border-radius: 10px;
	height: 80px;
		label {
		padding: 1px 5px;
		margin: 1px 3px;
	}
}

.group_form {
 	border-radius: 20px;
 	height: 80%;
 	margin: 0 auto;
 	font-size: 18px;
	background-color: rgba(0,0,0,.90);
	padding: 15px;
	color: white;
}
textarea {
   resize: none;
}
#group_avatar {
	margin: 0 auto;
}
.btn-default {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 65%;
	border-radius: 12px;
}

/****** Group Edit ******/


.edit_group_header {
	text-align: center;
	color: black;
	display: block;
	margin-top: 60px;
	h1 {
		font-size: 70px;
		font-weight: bold;
		font-family: 'Qwigley', cursive;
	}
}
.edit_group {
	width: 80% !important;
	margin: 0 auto;
}




/****** Media Queries ******/

@media (max-width: 700px) {

	
}

@media (max-width: 480px) {

	.new_group_header {
		height: 30px;
		width: 100%;
		border: 0px solid black;
		border-radius: 0px;
		margin: 0 auto;
		text-align: center;
		background-image: linear-gradient( #60E3F7, #8BF7E5);
		margin-top: -10px;
	}
	.new_group_header h1 {
		font-size: 35px;
		margin-top: -6px;
		color: black;
	}
	.new_group_container {
		width: 100%;
		height: 380px;
		margin-top: 60px;
	}
	.group_form {
		width: 100%;
		overflow: scroll;
		height: auto;
		margin-top: -10px;
		border-radius: 0px;
	}
	.btn-default {
		background-color: black;
		color: white;
		font-weight: bold;
		font-size: 20px;
		width: 90%;
		border-radius: 12px;
	}
	.edit_group_container {
		height: auto;
		width: 100%;
		.edit_group_header {
			h1 {
				margin-top: -30px;
				font-size: 50px;
			}
		}
		.edit_group {
			width: 100% !important;
		}
	}

	/***** Group show ******/

	.group_show_container {
		height: 430px;
		width: 100%;
	}
	
	.btn-primary {
		width: 100%;
	}
	
}
