
@import "bootstrap";

body {
	color: white;
}

/****** Group Features Nav ******/

.group_features_nav {
	position: fixed;
}

.group_features_nav button {
	margin-top: 210px;
}

/****** Group New ******/

.new_group_header {
	height: 120px;
	width: 420px;
	border: 10px solid black;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	
}
.new_group_header h1 {
	font-size: 70px;
	margin-top: 10px;
	font-family: 'Qwigley', cursive;
	font-weight: bolder;
}
.new_group_container, .edit_group_container  {
	height: 780px;
	width: 80%;
	margin: 0px auto;
	margin-top: 60px;
	text-align: center;	
}

/****** Group Form ******/

.group_members_list {
	overflow: scroll;
	border-radius: 10px;
	height: 80px;
}
.group_members_list label {
	padding: 1px 5px;
	margin: 1px 3px;
}
.group_form {
 	border-radius: 20px;
 	height: 80%;
 	margin: 0 auto;
 	font-size: 18px;
	background-color: rgba(0,0,0,.90);
	padding: 15px;
	color: white;
}
textarea {
   resize: none;
}
.btn-default {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 65%;
	border-radius: 12px;
}

/****** Group Edit ******/


.edit_group_header {
	text-align: center;
	color: white;
	display: block;
	margin-top: 60px;
}
.edit_group {
	width: 80% !important;
	margin: 0 auto;
}


/****** Group Show ******/


.group_show_container {
	height: auto;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
	background-color: white;
	margin-top: 60px;
}
.group_name {
	text-align: center;
	font-family: 'Qwigley', cursive;
}
.group_name h1 {
	font-size: 70px;
	font-weight: bold;
}
.group_show_info {
	height: 92%;
	width: 85%;
	border: 5px solid black;
	margin: 0 auto;
	color: black;
	margin-top: 10px;
	border-radius: 40px;
	padding: 10px 50px;
}
.group_image {
	margin: 0 auto;
	text-align: center;
	height: auto;
	width: 400px;
	margin-top: 30px;
}
.group_image img {
	width: 100%;
	height: auto;
}
.group_description, .group_members {
	height: 200px;
	overflow: scroll;
}
.group_description {
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}
.group_members {
	margin-top: 10px;
}
.group_members p {
	text-align: center;
	font-size: 20px;
}
.group_members ul li {
	list-style-type: none;
}
.btn-group {
	font-size: 20px;
	position: fixed !important;
	margin-left: 50px;
	margin-top: -270px;
	z-index: 600000;
	font-family: sans-serif;
}
.group_features_nav button {
	font-size: 20px;
	height: 50px;
	background-color: rgba(100,180,240,.85);
	border: none;
	color: darkblue;
}
.group_features_nav li {
	width: 220px !important;
}
.group_features_nav li a:hover {
	background-color: lightblue !important;
}

/****** Media Queries ******/

@media (max-width: 700px) {

	.group_show_container {
		width: 100%;
	}
	.group_show_info {
		height: 80%;
		padding: 5px 10px 5px 10px;
		overflow: scroll;
	}
	.group_name h1 {
		font-size: 19px;
		font-weight: bolder;
	}
}

@media (max-width: 480px) {

	.new_group_header {
		height: 30px;
		width: 100%;
		border: 0px solid black;
		border-radius: 0px;
		margin: 0 auto;
		text-align: center;
		background-image: linear-gradient( #60E3F7, #8BF7E5);
		margin-top: -10px;
	}
	.new_group_header h1 {
		font-size: 35px;
		margin-top: -6px;
		color: black;
	}
	.new_group_container {
		width: 100%;
		height: 380px;
	}
	.group_members_list {
		overflow: scroll;
		border-radius: 10px;
		height: 80px;
		width: 100%;
	}
	.group_members_list label {
		padding: 1px 5px;
		margin: 1px 3px;
	}
	.group_form {
		width: 100%;
		overflow: scroll;
		height: 355px;
		margin-top: -3px;
		border-radius: 0px;
	}
	.btn-default {
		background-color: black;
		color: white;
		font-weight: bold;
		font-size: 20px;
		width: 90%;
		border-radius: 12px;
	}

	/***** Group show ******/

	.group_show_container {
		height: 430px;
		width: 100%;
	}
	.group_show_info {
		width: 100%;
		height: 95%;
		border: none;
		margin-top: 15px;
	}
	.group_image {
		width: 100%;
		height: 100px;
	}
	.group_image img {
		height: auto;
		width: 100%;
	}
	.group_description{
		margin: 0 auto;
		text-align: center;
		height: auto;
	}
	.group_members {
		height: auto;
		margin: 0 auto;
	}
	.group_members p {
		text-align: center;
		font-size: 14px;
		padding: 5px 0;
	}
	.btn-primary {
		width: 100%;
	}
	.group_name h1{
		font-size: 40px;
		margin-top: 0;
	}
	
}
