@import "bootstrap";

body {
	color: white;
	/*background-image: linear-gradient(black, #B0CBD6) !important;*/
}

/****** Group Features Nav ******/

.group_features_nav {
	position: fixed;
}

.group_features_nav button {
	margin-top: 210px;
}

/****** Group New ******/


.new_group_header {
	color: white;
}
.new_group_container, .edit_group_container  {
	height: 780px;
	width: 70%;
	margin: 0px auto;
	margin-top: 60px;
	text-align: center;	
}


/****** Group Form ******/

.group_members_list, .group_features_list {
	overflow: scroll;
}

.group_form {
 	border: 10px solid white;
 	border-radius: 20px;
 	height: 80%;
 	margin: 0 auto;
 	font-size: 18px;
	background-color: rgba(0,0,0,.80);
	padding: 15px;
	color: white;
}
textarea {
   resize: none;
}
.btn-default {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 70%;
	border-radius: 12px;
}


/****** Group Edit ******/


.edit_group_header {
	text-align: center;
	color: white;
	display: block;
	margin-top: 60px;
}
.edit_group {
	width: 80% !important;
	margin: 0 auto;
}


/****** Group Show ******/


.group_show_container {
	height: 650px;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 40px;
	background-color: white;
}
.group_name {
	text-align: center;
}
.group_show_info {
	height: 92%;
	width: 85%;
	border: 5px solid black;
	margin: 0 auto;
	color: black;
	margin-top: 10px;
	border-radius: 40px;
	padding: 10px 50px;
}
.group_image {
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
	height: auto;
	width: 300px;
}
.group_description {
	margin-left: 20px;
	border: 1px solid black;
	height: 200px;
	overflow: scroll;
}
.group_members {
	margin-left: 20px;
	border: 1px solid black;
	height: 200px;
	overflow: scroll;
}

.btn-group {
	height: 40px;
	width: 100%;
	margin: 0 auto;
}



/****** Media Queries ******/

@media (max-width: 700px) {

	.group_show_container {
		width: 100%;
	}
	.group_show_info {
		height: 80%;
		padding: 5px 10px 5px 10px;
		overflow: scroll;
	}
	.group_name h1 {
		font-size: 19px;
		font-weight: bolder;
	}
}

@media (max-width: 400px) {

	.new_group_header h1 {
		font-size: 23px;
	}
	.new_group_container {
		width: 100%;
		height: 360px;
	}
	.group_form {
		width: 100%;
		overflow: scroll;
		height: 330px;
		border: 4px solid white;
		margin-top: -5px;
	}

	.btn-default {
		background-color: black;
		color: white;
		font-weight: bold;
		font-size: 20px;
		width: 90%;
		border-radius: 12px;
	}


	/***** Group show ******/

	.group_show_container {
		height: 435px;
		width: 100%;
		padding: 10px;
		margin-top: -15px;
	}

	.group_show_info {
		width: 100%;
	}
	
}
