// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.subheader {
	font-weight: bold;
}

.table-div {
	width: 50%;
	margin-left: 25%;
}

.table-header {
	text-align: center;
	font-size: 1.25em;
}

.poll-options {
	width: 50%;
	display: inline;
}

.new-poll-option {
	float: left;
	padding-left: 15%;
}

.delete-poll {
	float: right;
	padding-right: 15%;
}

.new-poll{
	clear: both;
	margin-bottom: 10%;
	font-size: 1.15em;
}