// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****** Tag Index ******/
.tag_index_container {
	border: 4px solid black;
	margin: 0 auto;
	width: 600px;
	height: 450px;
	margin-top: 70px;
	text-align: center;
	overflow: scroll;
	border-radius: 30px;
}

.image_header .image_ig img {
	height: 300px;
	width: 300px;
}
.thumbs {
	border: 1px solid black;
	float: left;
	img{
		height: 100%;
		width: 100%;
	}
}
.viewer {
	position: fixed;
	z-index: 100;
	right: 0px;
	left: 0px;
	bottom: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	display: none;
		img{
			position: absolute;
			height: 50%;
			width: 500px;
			margin-top: 50px;
			margin-left: 30%;
		}
}
.static-viewer {
	padding: 0 20% 50px;
		img{
			width: 100%;
			height: 100%;
			margin: 0 auto;
			border: 1px solid black;
			margin-bottom: -20px;
		}
		.caption{
			z-index: 10;
			background-color:black;
			color: white;
			visibility: hidden;
			a{
				color: red;
				font-size: 15px;
			}
		}
		&:hover{
			.caption{
				visibility: visible;
			}
		}
}
/****** Tag Index ******/
.tag_index_container {
	.tag_index_header {
		
	}
}

/****** Tag New ******/

.new_tag_container {
	height: 400px;
	width: 700px;
	margin: 0 auto;
	margin-top: 60px;
		.new_tag_header{
			height: 140px;
			width: 420px;
			border: 5px solid black;
			margin: 0 auto;
			text-align: center;
			border-radius: 10px;
			h1 {
				font-size: 90px;
				margin-top: 10px;
				font-family: 'Qwigley', cursive;
				font-weight: bolder;
			}
		}
		form {
			text-align: center;
				.field {
					padding: 10px 0;
						#tag_name {
							height: 40px;
							width: 60%;
							text-align: center;
							font-size: 24px;
						}
					}
		label {
			font-size: 24px;
			}
		.actions {
			.tag_submit {
				margin-top: 5px;
				height: 40px;
				width: 60%;
				font-size: 20px;
				font-color: black;
				font-family: arial;
				border: 4px solid black;
				background-color: lightblue;
				border-radius: 5px;
				}
			.tag_submit:hover {
				background-color: rgba(139, 255, 250, 1);
				font-weight: bolder;
				border-bottom-color: darkgrey;
				border-right-color: darkgrey;
				}	
			}	
		}
		.back_link_container{
			margin-left: 243px;
			margin-top: 20px;
			width: 50%;
			.back_link {
					text-align: center;
					margin-top: 5px;
					height: 30px;
					font-size: 18px;
					font-family: arial;
					border: 4px solid black;
					background-color: rgb(100,100,100);
					border-radius: 5px;
					padding: 5px 70px;
				}
			a {
				text-decoration: none;
				color: white;
				width: 60%;
			}
			a:hover {
				border-bottom-color: darkgrey;
				border-right-color: darkgrey;
				}	
			}

	}


@media (max-width: 320px) {

/****** Tag New ******/

	.new_tag_container {
	height: 375px;
	width: 320px;
	margin: 0 auto;
	margin-top: 55px;
		.new_tag_header {
			height: auto;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			border: none;
			h1 {
				font-size: 45px;
				margin-top: 10px;
				font-family: 'Qwigley', cursive;
				font-weight: bolder;
			}
		}
		.back_link_container {
			margin-left: 63px;
			margin-top: 20px;
			width: 320px;
			.back_link {
				text-align: center;
				margin-top: 5px;
				height: 30px;
				font-size: 18px;
				font-family: arial;
				border: 4px solid black;
				background-color: rgb(100,100,100);
				border-radius: 5px;
				padding: 5px 59px;
				}
			}
	}
}

@media (min-width: 321px) and (max-width: 480px) {
	.new_tag_container {
		height: 265px;
		width: 480px;
		margin: 0 auto;
		margin-top: 55px;
			.new_tag_header {
				height: auto;
				width: 95%;
				margin: 0 auto;
				text-align: center;
				h1 {
					font-size: 45px;
					margin-top: 10px;
					font-family: 'Qwigley', cursive;
					font-weight: bolder;
				}
			}
			.back_link_container {
				margin-left: 134px;
				margin-top: 20px;
				width: 320px;
			}


	}
}
