// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_container {
	margin-top: 50px;
}

.welcome_plandora {
	width: 100%;
	height: 650px;
	margin: 0 auto;
	border-bottom: 1px solid black;
	background: url("airplane.jpg");
}

header {
	font-weight: bolder;
	font-size: 70px;	
	margin: 0 auto;
	text-align: center;
}

#logo {
	width: 317px;
	display: block;
	margin: 0 auto;
}

.plandora_info h2 {
	margin-top: 60px;
	color: black;
	font-weight: bolder;
}

.plandora_info {
	text-align: center;
	width: 100%;
	height: 640px;
	border: 1px solid black;
	background-color: rgba(120,120,120,1);	
}


.what_is_plandora {
	text-align: center;
	border: 5px solid black;
	background-color: white;
	border-radius: 80px;
	opacity: .7;
	height: 400px;
	width: 600px;
	margin: 0px auto;
	margin-top: 50px;
}


.what_is_plandora_info {
	color: black;
	height: 250px;
	width: 505px;
	font-size: 20px;
	text-align: center;
	margin: 50px 0 0 40px;
}

.features_info_container {
	background: white;
	opacity: .7;
	border-radius: 60px;
	border: 5px solid black;
	margin: 0 auto;
	height: 350px;
	width: 600px;
}

.features_info {
	margin-top: 16px;
	height: 310px;
	width: 580px;
	overflow: scroll;
}

.plandora_features {
	background: url("planner.jpg");
	text-align: center;
	width: 100%;
	height: 640px;
	margin-top: -20px;
	border: 2px solid black;
}

.plandora_features h1 {
	color: white;
	padding: 20px 0;

}




@media (max-width: 600px) {

	header {
		font-size: 55px;
	}

	#plandoralogoshrink {
		height: 200px;
	}

	.what_is_plandora {
		height: 300px;
		width: 300px;
	}

	.features_info_container {
		height: 300px;
		width: 300px;
	}

	.features_info {
		height: 260px;
		width: 280px;
	}
	
	.what_is_plandora_info {
		height: 250px;
		width: 280px;
		font-size: 20px;
		text-align: center;
		margin: 60px 0 0 4px;
	}

}

